.messageBox {
  width: 600px;
  height: 150px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(140, 140, 255);
  background-color: rgb(220, 220, 255);
  padding: 10px;
  line-height: 1;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: inherit;
  margin-right: 200px;
  overflow: auto;
  text-align: "center";
  font-size: 14px;
}

.countBox {
  width: 50px;
  height: auto;
}

.uploadBox {
  width: auto;
  height: auto;
  background-color: rgb(230, 220, 220);
  vertical-align: middle;
  resize: none;
  margin-bottom: 20px;
}

.submitButton {
  height: 30px;
  margin-left: 10px;
  margin-bottom: auto;
  vertical-align: bottom;
  margin-bottom: 20px;
}