.follow {
  display: flex;
  margin-bottom: -10px;
}

.addFollow {
  margin-right: 0px;
}

.unfollow {
  margin-left: 20px;
}

.followingList {
 margin-right: 0px;
}

.followListBox {
  width: 280px;
  height: 150px;
  border-style: inset;
  border-width: auto;
  padding: 0px;
  line-height: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: 0px;
  overflow: auto;
  text-align: "center";
  font-size: 12px;
}

.followerList {
  margin-left: 50px;
}

.followBox {
  resize: none;
}