.auction {
  box-align: center;
  margin-left: 50px;
}

.auctionList {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-size: 10px;
}

.auctionList th {
  font-weight: bold;
  background-color: rgb(220, 220, 255);
  border: 2px solid gray;
  
}

.auctionList td {
  border: 1px solid gray;  
}
