input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.wallet {
  width: 320px;
  height: auto;
  padding: 10px;
  background-color: rgb(220, 220, 220);
}

.auctionForm,
.walletForm {
  margin-top: -10px;
}

.label {
  flex: 1;
}

.argsBoxes {
  float: right;
}