.App {
  text-align: center;
}

.registerBox {
  width: 200px;
  height: 500px;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -100px;
  margin-right: -250px;
  text-align: left;
}

.registerButton {
  background-color: cornflowerblue;
  font-weight: bold;
}