.messenger {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.closeButton {
  display: flex;
  text-align: center;
  margin-left: 360px;
  margin-top: 2%;
}

.messenger .messengerBox{
  border: 3px solid pink;
  border-radius: 5px;
  background: white;
  width: 350px;
  height: 450px;
  overflow: auto;
}

.textBox {
  border-radius: 5px;
  width: 350px;
  height: 100px;
  display: inline-block;
}

.sendButton {
  width: 50px;
  text-align: center;
  display: flex;
}
