.swipe {
  text-align: center;
  position: relative;
}

.swipeBox {
  width: 800px;
  height: 480px;
  border: 1px solid gray;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  display: inline-block;
  border-radius: 50px;
}

.userInfo {
  display: inline-block;
  text-align: center;
}

.swipeButton {
  margin-top: 200px;
  font-size: 50px;
  width:60px;
  display: inline-block;
}

.swipeButton.left {
  float: left;
}

.swipeButton.right {
  float: right;
}

.choiceButton {
  background-color: rgb(180, 210, 255);
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  border: none;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 80px;
}